body {
    margin: 0;
    padding: 0;
    height: 200vh;
}

canvas {
    cursor: grab;
    cursor: -moz-grab;
    cursor:-webkit-grab;
    pointer-events: none;
}

canvas:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor:-webkit-grabbing
}

code {
    color: rgb(255, 128, 128);
}

a {
    color: rgb(116, 116, 255);
}